<div class="row container">
  <div class="col">
    <a class="float-right" [routerLink]="['add']" [routerLinkActive]="['active']">+ Add Meal</a>
  </div>
</div>
<ag-grid-angular 
    #agGrid
    style="width: 72.5vw; height: 68vh;" 
    class="ag-theme-balham"
    [rowData]="dataList" 
    [columnDefs]="this.mealDataService.columnDefs"
    rowSelection="multiple"
    >
</ag-grid-angular>
<!-- <div class="border">
    <div class="row bg-light p-3 m-1">
        <div class="col-3">Meal Name</div>
        <div class="col-3">Food</div>
        <div class="col-3 text-center">Create At</div>
        <div class="col-3 text-right">Action</div>
    </div>
    <div class="row p-3 m-1" *ngFor='let item of dataList'>
        <div class="col-3">{{item.mealName}}</div>
        <div class="col-3">{{item.food}}</div>
        <div class="col-3 text-center">{{item.date | date: 'dd MMM yyyy'}}</div>
        <div class="col-3 text-right"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></div>
    </div>
</div> -->
<br>
