/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

/* ag-grid styles and themes */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

/* ng-select styles and themes */
@import "~@ng-select/ng-select/themes/default.theme.css";
/* or   */
@import "~@ng-select/ng-select/themes/material.theme.css";

*{
    margin: 0;
    padding: 0;
}
small{
    color: red;
}

.cell-wrap-text {
    white-space: normal !important;
    overflow: visible !important;
  }
