<!-- You can now use it in app.component.html -->
<div class="row">
  <div class="col-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="12"
    [outerStrokeColor]="'#78C000'"
    [animation]="true"
    [animationDuration]="600"
    [title]="Progress"
  ></circle-progress>
  </div>
  <div class="col-4">
    <round-progress
    [current]=current
    [max]="max"
    [color]="'#45ccce'"
    [background]="'#eaeaea'"
    [radius]="125"
    [stroke]="20"
    [semicircle]="true"
    [rounded]="true"
    [clockwise]="false"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
    (onRender)="doSomethingWithCurrentValue($event)"
    ></round-progress>
  </div>
</div>






<p>Input one</p>
<input (change)="picked($event)" type="file">

<br>
<hr>

<button class="butoncus_sig" id="dnext" (click)="addPictures()">Submit</button>
<img id="image" alt="Red dot" />
<!-- <img id="elephant" alt="Red dot" /> -->